.containernavbarbtn {
    width: 90%;
    text-decoration: none;
}

.navbarbtn {
    width: 100%;
    min-height: 50px;
    border: none;
    border-radius: 0.4rem;
    background-color: #ECECEC;
    display: flex;
    align-items: center;
    margin: 6px 0;
    padding-left: 20px;
}

.navbarbtn span {
    margin-left: 10px;
}