* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    color: #363636;
}

body {
    height: 100vh;
    overflow-y: hidden;
}

main::-webkit-scrollbar {
    width: 4px;
}

main::-webkit-scrollbar-track {
    background: #FFFFFF;
}

main::-webkit-scrollbar-thumb {
    background-color: #C08497;
}

main {
    height: 70vh;
    overflow-y: scroll;
    text-align: justify;
    padding: 2rem;
}

@media (max-width: 859px) {
    main {
        height: 80vh;
    }
}