* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    color: #363636;
}

main::-webkit-scrollbar {
    width: 0;
}

main {
    height: 70%;
    margin-top: 0;
    overflow-y: scroll;
    text-align: justify;
}

main p {
    padding: 0 1.5rem;
}

@media (max-width: 859px) {
    main {
        height: 75%;
        margin-top: 5%;
    }
}